* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(20, 60, 60, 1);
    --secondary-color: rgba(226, 237, 223, 1);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}
